* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header {
    font-size: 4em;
    font-family: Impact, sans-serif;

}

html {
    font-family:'Open Sans', sans-serif;
    background-color: rgba(228, 220, 220, 0.87);
}

.menu-item {
    text-decoration: none;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    padding: 0 25px;
    transition: all 0.6s;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.menu {
    padding-top: 15px;
    padding-bottom: 10px;    
}

.menu-item:hover {
    color: rgb(173, 169, 169);
}

nav {
    position: relative;
    padding: 10px;
    background: rgb(80, 68, 68);
    margin: 0 auto;
    width: 100%;    
}

/*-------END OF NAV MENU-----------*/

.content {
    float: right;
    margin: 10px;

}

h1 , button, .postures, .also{
    margin: 5px;
    padding-left: 5px;
    border-bottom: solid 1px grey;
}

.list li{
    list-style: upper-latin;
}


p, h2, .list{
    padding-bottom: 15px;
    padding-left: 15px;
}

.img {
    width: 360px;
    padding: 5px;
    border: solid 1px grey;
}

#video {
    width: 360px;
    height: 240px;
    border: none;
}

footer, .links{
    margin: 5px;
    padding-left: 5px;
    font-size: 14px;
}




